<a href="https://colab.research.google.com/github/Yashashvi14/Complete-Python-3-Bootcamp/blob/master/pythonbeg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
a

10

In [ ]:
a = a+a
a

20

In [ ]:
type(a)

int

In [ ]:
mystring = "abcdefg"
mystring

'abcdefg'

In [ ]:
print(mystring[2:6])
print(mystring[3:])

cdef
defg

In [ ]:
x = 'Hello World'
x + " it is beatiful!"

'Hello World it is beatiful!'

In [ ]:
x = 'it is beautiful outside'
x.split('i')

['', 't ', 's beaut', 'ful outs', 'de']

In [ ]:
print('I am Yashi{}'.format(' Yadav'))

I am Yashi Yadav

In [ ]:
print('The {} {} {}'.format('fox', 'brown','quick'))

The fox brown quick

In [ ]:
my_dict = {'apple':50 , 'banana':20 ,'guava': 30}
print(my_dict)
print(my_dict['apple'])

new_dict = {'k1':123 ,'k2':[1,2,3] ,'k3':{'yashi':'parul'}}
print(new_dict)
print(new_dict['k2'])
new_dict['k3']['yashi'].upper()

{'apple': 50, 'banana': 20, 'guava': 30}
50
{'k1': 123, 'k2': [1, 2, 3], 'k3': {'yashi': 'parul'}}
[1, 2, 3]

'PARUL'

In [ ]:
mylist ={'k1':['a','b','c'] ,'k2':('Missippie') , 'k3': ['gsh' , 'dhg', 'hrn']}

In [ ]:
mylist
mylist['k1'][1].upper()

'B'

In [ ]:
abc = {'ki':'a' , 'k2':'b' ,'k3':'c'}        #add new key
abc['k4'] = 'd'

In [ ]:
abc
print(abc.values()) 

abc.items()

dict_values(['a', 'b', 'c', 'd'])

dict_items([('ki', 'a'), ('k2', 'b'), ('k3', 'c'), ('k4', 'd')])

In [ ]:
%%writefile myfile.txt
I am yashashvi Yadav
i am learning python 
i also know java and SQL

Writing myfile.txt

In [ ]:
myfile = open('myfile.txt')         #write in quotes

In [ ]:
myfile.seek(0)

0

In [ ]:
myfile.readlines()

['I am yashashvi Yadav\n',
 'i am learning python \n',
 'i also know java and SQL\n']

In [ ]:
with open('myfile.txt' ,mode='a') as f:
  f.write('\nthe end')

In [ ]:
with open('myfile.txt' ,mode='r') as f:
  print(f.read())

I am yashashvi Yadav
i am learning python
i also know java and SQL

the end

In [ ]:
lists =[0] *3
print(lists)

[0, 0, 0]

In [ ]:
#nested dictionary

d ={'k1':[{'nest_key':['this is deep' , ['hello']]}]}
print(d['k1'][0]['nest_key'][1][0])                             #select k1 then 0th elemnt of k1 ; then nest key and its 1st elemt hello then hello is only elemnt so [0]

hello

In [ ]:
name = 'yashi'    #else

if name =='parul':
  print('i am home')
elif name =='yashashvi':
  print('i am in noida')  
elif name =='yashi':
  print('yeah, thats right')
else:
  print('babu pagal')

yeah, thats right

In [ ]:
mylist =[1,2,3,4,5,6,7,8,9,10]
print(mylist)

for num in mylist:
  print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

In [ ]:
for letter in 'Hello World':            #iteration
  print(letter)

H
e
l
l
o

W
o
r
l
d

In [ ]:
tup = (1,2,3)
for a in tup:
  print(a)

1
2
3

In [ ]:
mylist = [(1,2),(3,4)]                #list with tuple # tuple unpacking
for (a,b) in mylist:                  #print each item separtely #parathesis is optional
  print(a)
  print(b)

1
2
3
4

In [ ]:
#by default in ditionary it prints keys
abc = {'k1':1 , 'k2':2 , 'k3':3}
for item in abc:
  print(item)

k1
k2
k3

In [ ]:
abc = {'k1':1 , 'k2':2 , 'k3':3}     #so call the items to get it printed
for key,value in abc.items():
    print(value)

1
2
3

In [ ]:
abc = {'k1':1 , 'k2':2 , 'k3':3}     #so call the items to get it printed
for item in abc.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [ ]:
#while loop 

x=1 
while x<5:
  print(f'the value of x is {x}')
  x=x+1

the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4

In [ ]:
x=1 
while x<5:
  print(f'the value of x is {x}')
  x=x+1
else :
    print("x is not less than 5")

the value of x is 1
the value of x is 2
the value of x is 3
the value of x is 4
x is not less than 5

In [ ]:
dict = {'k1':123 ,'k2':[1,2,3] ,'k3':{'yashi':'parul'}}
for key,value in dict.items():
    print(key, value)

k1 123
k2 [1, 2, 3]
k3 {'yashi': 'parul'}

In [ ]:
val =(1,2,3)
for new in val:
  pass

In [ ]:
myval = 'Hello World'
for new in myval:
  if new == ' ':     #skip the letter or space or anytthing
     continue

  print(new)

H
e
l
l
o
W
o
r
l
d

In [ ]:
myval = 'Hello World'
for new in myval:
  if new == 'W':     #skip the letter or space or anytthing
     break

  print(new)

H
e
l
l
o

In [ ]:
#operators 
for num in range(10):      #upto excluding 10
  print(num)

for um in range(11,15):  #range
  print( um)

for umw in range(0,10,2):    #prints even no. between 0-10
  print( umw)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
0
2
4
6
8

In [ ]:
d ={'k1':['a','b','c'] ,'k2':('Missippie') , 'k3': ['gsh' , 'dhg', 'hrn']}        #dict with for loop
for key,value in d.items():
 print(key,'\n' ,value)

k1
 ['a', 'b', 'c']
k2
 Missippie
k3
 ['gsh', 'dhg', 'hrn']

In [ ]:
index_count = 0         #foe with print formatting
for letter in 'abcdef':
  print('at index {} the letter is {}'.format(index_count,letter))
  index_count +=1

at index 0 the letter is a
at index 1 the letter is b
at index 2 the letter is c
at index 3 the letter is d
at index 4 the letter is e
at index 5 the letter is f

In [ ]:
d = {'mykey':345}
345 in d.values()

True

In [ ]:
from random import shuffle 
mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)
print(mylist)

[6, 8, 10, 3, 7, 5, 1, 9, 2, 4]

In [ ]:
mystring = 'Hello'
mylist = []
for letter in mystring :
  mylist.append(letter)
  print(mylist)         #prints in pattern bz inside loop

print(mylist)    #primnts only one line bz outside loop

['H']
['H', 'e']
['H', 'e', 'l']
['H', 'e', 'l', 'l']
['H', 'e', 'l', 'l', 'o']
['H', 'e', 'l', 'l', 'o']

In [ ]:
mylist =[letter for letter in mystring]         #list comprehension to shorten syntax
print(mylist)

['H', 'e', 'l', 'l', 'o']

In [ ]:
celcius = [0,20,50,98,102.5]

fahrenhiet = [((9/5)*temp + 32) for temp in celcius]
print(fahrenhiet )

[32.0, 68.0, 122.0, 208.4, 216.5]

In [ ]:
str = 'Sam print only those sentences that starts with s'
for word in str.split():
  if word[0].lower() == 's':     #use lower case to print all the words that starts with s even upper caze also
    print(word)

Sam
sentences
starts
s

In [ ]:
mylist = [x for x in range(0,51) if x%3 == 0]
print(mylist)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [ ]:
st = 'print every word in this sentence   that has an even number of letters'
for word in st.split():
  if len(word)%2 == 0:
     print(word)

word
in
this
sentence
that
an
even
number
of

In [ ]:

for inte in range(0,40):
 if inte%3 == 0 and inte%5 == 0:
     print('fizzbuzz')
 elif inte%3 == 0:
     print('fizz')
 elif inte%5 == 0:
     print('buzz')   
 else:
    print(inte)

fizzbuzz
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz
31
32
fizz
34
buzz
fizz
37
38
fizz

In [ ]:
ster = 'create a list of the first letter of every word in this string'
[word[0] for word in ster.split()]

['c', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [ ]:
def say_hello():
  print("hello")
  print('how are you')
  print("dear")

In [ ]:
say_hello()

hello
how are you
dear

In [ ]:
def print_result(a,b):
  print(a+b)
  
print_result(10,20)

30

In [ ]:
def return_result(a,b):
  return a+b
return_result(10,20)

30

In [ ]:
def my_func(a,b):
  print(a+b)               #can do both by printing as well as returning
  return a+b

In [ ]:
def even_case(numb):
  return numb%2 == 0

In [ ]:
even_case(20)

True

In [ ]:
def even_check(number_list):
   for num in number_list:
      if num%2 == 0:
        return True
      else :
         pass            # returning false here is not correct as it will not read the entire loop and just check the first letter

   return False    #using this return outside to allow the loop to first run completely and check for even no. and return true if present otherwise it will just read the first letter and return result

In [ ]:
even_check([7,3,2])

True

In [ ]:
#return even no. list 

def even_list(number_list):

  even_number = []   #placeholder variable

  for number in number_list:
     if number%2 == 0:
        even_number.append(number)
     else:
         pass

  return even_number

In [ ]:
even_list([1,2,3,4,5,6,8])

[2, 4, 6, 8]

In [ ]:
even_list([3,5,7,9])

[]

In [ ]:
stock_list = [('appl',200) , ('goog',300) , ('micro',400)]

In [ ]:
for a,b in stock_list:
   print(a)

appl
goog
micro

In [ ]:
work_hours = [('abbey',200) , ('neil',400) , ('sam',300)]

def employee_check(work_hours):

  current_max = 0
  employee_of_month = ''

  for employee,hours in work_hours:
    if hours > current_max:
       current_max = hours
       employee_of_month = employee

    else :
       pass

  return(employee_of_month,current_max)

In [ ]:
name,hours = employee_check(work_hours)      #unpacking

In [ ]:
name

'neil'

In [ ]:
tuples_con = [(1,0),(2,'three'),('four',0)]
print(tuples_con)

dict_conv = dict(tuples_con)
print(dict_conv)

[(1, 0), (2, 'three'), ('four', 0)]

TypeError: ignored

In [ ]:
# game 
from random import shuffle 
mylist = ['0',' ',' ']

def shuffle_list(mylist):
  shuffle(mylist)
  return mylist

def player_guess():
   guess = ''

   while guess not in ['0','1','2']:
     guess = input("Pick a number:0,1 or 2")

   return int(guess)

def check_guess(mylist,guess):
  if mylist[guess] == '0':
     print('Correct')

  else :
     print('Wrong')
     print(mylist)

In [ ]:
check_guess(mylist,guess)

NameError: ignored

In [ ]:
name = "Hello Name"
def myfunc(name):
   
   print('{}'.format(name))

In [ ]:
#(*args) is used where you dont want to limit the entries

def myfunc(*args):      #args can be anything of choice but with *
   return sum(args) * 2

In [ ]:
 myfunc(1,2,3,4,5,6,7,8,9,10)

In [ ]:
def myfunc(**kwargs):
  print(kwargs)
  if 'fruit' in kwargs:
    print('my fruit choice is {}'.format(kwargs['fruit']))
  else:
    print("I dont eat fruit")

In [ ]:
myfunc(fruit = 'apple', vegie = 'lettuce')

In [ ]:
def allfunc(*args,**kwargs):
  print(args)
  print(kwargs)
  print("My fav is {} {}".format(args[1],kwargs['animal']))   #indexing to select in input and args gives tuples and kwargs gives dictionary

In [ ]:
allfunc(10,20,30,animal = 'dog',fruit = 'apple')     #input should in order args first and kwargs then,,,vice versa in opp case

In [ ]:
def myfunc(*args):
    evenli = []
    for n in args:
        if n%2 == 0:
            evenli.append(n)

    return evenli

In [ ]:
myfunc(2,3,4,5,7,8,12,46)

In [ ]:
def myfunc(*args):

    string = " "
    index = 0
    for n in args:
        if index % 2 == 0:
           n.upper()
           string.append(n)
             
    else :
         n.lower()
         string.append(n)

        
    return string
    index += 1

In [ ]:
myfunc(wording)

NameError: ignored

In [ ]:
#function that takes a string and return a same string with uppercase at even index and lowecase at odd index
def myfunc(word):
    result = ""
    for index, letter in enumerate(word):
        if index % 2 == 0:
            result += letter.upper()
        else:
            result += letter.lower()
    return result

In [ ]:
myfunc('car')

In [ ]:
#function with 2 numbers returns lesser if both even and greater if one or both odd
def my_num(a,b):
  if a%2 ==0 and b%2 ==0:
    if a<b:
      result = a
    else:
      result = b

  else:
    if a>b:
      result = a
    else:
      result = b

  return result

In [ ]:
my_num(2,7)

In [ ]:
#alternate method

def my_num(a,b):
  if a%2 ==0 and b%2 ==0:
    result = min(a,b)
  else:
   result = max(a,b)
  return result

In [ ]:
my_num(2,7)

In [ ]:
#func that takes two word string and returns true if both word starts with same letter
def same_letter(string):
  wordlist = string.split()
  first = wordlist[0]
  second = wordlist[1]
  if first[0] == second[0]:
    return True
  else:
    pass

In [ ]:
same_letter("Hello World")

In [ ]:
#returns true if sum of intezer is 20 or one of digit is 20 else false
def inte_twenty(n1,n2):
  if n1+n2 == 20 or n1 == 20 or n2 == 20:
    return True
  else:
    return False

In [ ]:
def inte_twenty(n1,n2):
  return n1+n2 == 20 or n1 == 20 or n2 == 20

In [ ]:
def capt_lett(name):
  
  first_letter = name[0]
  in_between = name[1:3]
  fourth_letter = name[3]
  rest = name[4:]

  return first_letter.upper() + in_between + fourth_letter.upper() + rest

In [ ]:
capt_lett('yashashvi')

In [ ]:
#alternate method
def capt_lett(name):
  first_half = name[:3]
  second_half = name[3:]

  
  return first_half.capitalize() + second_half.capitalize()

In [ ]:
capt_lett('yashashvi')

In [ ]:
def rev_word(string):
  result = string.split()
  geg = result[::-1]
  rev = ' '.join(geg)     #converts list into string (string is converted into list using append)
  return rev

In [ ]:
rev_word('My name is Tiara')

In [ ]:
def num_between_range(num):
  return (abs(100-num) <= 10) or (abs(200-num) <= 10)

In [ ]:
num_between_range(150)

In [ ]:
def number_33(num):
  for i in range(0,len(num)-1):
    if num[i] == 3 and num[i+1] ==3:
      return True
    
  return False

In [ ]:
number_33([1,2,3,3])

In [ ]:
def triple_word(name):
  res = ""
  for letter in name:
    res += letter*3
  return res

In [ ]:
triple_word("hello")

In [ ]:
def check_sum(a,b,c):
  
  for a,b,c in range(0,12):
    if sum([a,b,c]) <= 21:
      return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c]) >= 21:
      return sum([a,b,c])-10
    else:
      return 'BUST'

In [ ]:
check_sum(10,11,4)

In [ ]:
n = int(input())
if n%2 == 0:
    if n in range(2,5):
      print('Not Weird')
    elif n in range(6,20):
      print('Weird')
    else:
      print('Not Weird')
else:
      print('weird')

In [ ]:
#mapping
def sprint(string):
  if len(string)%2 == 0:
    return 'Even'
  else:
    return string[0]

In [ ]:
name = ['andy' , 'sam' , 'murrel']
print(list(map(sprint,name)))

In [ ]:
print(list(map(sprint,name)))

In [ ]:
def fun(variable):
  lett = ['a','e','i','o','u']
  if (variable in lett):
    return True
  else:
    return False

In [ ]:
#filter 
seq = ['g','e','e','k','l','o']
filtered = filter(fun,seq)
print(list(filtered))

for n in filtered:     #will print in sequence
  print(n)

In [ ]:
mynum = [1,2,3,4,5,6,7,8]

In [ ]:
lambda num :num**2
list(map(lambda num :num**2,mynum))

In [ ]:
lambda nums :nums%2 == 0

In [ ]:
list(filter(lambda nums :nums%2 == 0,mynum))

In [ ]:
list(map(lambda namess:namess[0],name))

In [ ]:
is_even_list = [lambda arg=x: arg * 10 for x in range(1, 5)]
for n in is_even_list:
  print(n()) #parathesis imp

In [ ]:
max = lambda a,b:a if (a>b) else b
print(max(1,2))

In [ ]:
#LEGB Rule format
name ='This is Global String'   #GLOBAL 

def greet():
  #name = 'Sammy'            #ENCLOSING FUNCTION LOCALS
  def hello():  
                              #LOCAL FUNCTION
    name = 'Yashi'
    print("Hello "+name)   
  hello()
greet()

In [ ]:
greet()

In [ ]:
x = 50
def func(x):
  print(f'The value of x is {x}')

  x=200
  print(f'changed value of x to {x}')

In [ ]:
print(x)

In [ ]:
func(x)

In [ ]:
#grabing global x and reassigning to local variable
x = 50
def func():
  global x
  print(f'value of x is {x}')

  x= 100       #global x has given new value now
  print(f'reassigned value of x is {x}')

In [ ]:
print(x)

In [ ]:
func()

In [ ]:
print(x)

In [ ]:
#QUESTIONS PRACTICE 
#function that comutes the volume of sphere

def vol(rad):
  return (4/3)*(3.14)*(rad**3)

In [ ]:
vol(2)

In [ ]:
#whether a number is within a range or not inclusive or high and low
def ran_check(num,low,high):
   if num in range(low,high+1):  #range func is exclusive of high s0 +1
     print(f'{num} is in the range of{low} and {high}')
   else:
      print(f'not in range')

In [ ]:
ran_check(7,2,7)

In [ ]:
#function that takes a string and calculates the upper ans lower case letter
def up_low(string):
  uppercase = 0
  lowercase = 0
  for letter in string:
    if letter.isupper():
      uppercase += 1
    elif letter.islower():
      lowercase +=1
    else:
      pass

  print(string)
  print(f'lowercase count is {lowercase}')
  print(f'uppercase count is {uppercase}')

In [ ]:
up_low('My Name is Khan')

In [ ]:
def unique_list(list):
  return set(list)

In [ ]:
unique_list([1,1,1,2,2,2,2,3,3,4,4,4,5])

In [ ]:
class Orange:
  #init is lika a constructor in java ...whwn we use init we dont need to call, it gets called automatically
  def _init_(self,colour,types):       #colour ,types are just argumenst 

    self.colour = colour  #self is an object and colour is assigned to self that is object
    self.types = types

  def my_fruit(self):
   print("my fruit is " , self.colour , self.types)

In [ ]:
 my_fruit(colour = 'orange',types = 'citrus')

In [ ]:
class Dog:
  #class object attribute
  #same for any instance of the class(no need to use self)

  species = 'mammal'
  def __init__(self,breed,name):
     
     self.breed = breed
     self.name = name
   
#a method is a function inside of a class
#operations --- methods

  def bark(self):
    print("woof")

In [ ]:
my_dog = Dog('lab' ,'kobi')

In [ ]:
my_dog.bark()           #method needs to be called by using parenthesis

In [ ]:
my_dog.breed

In [ ]:
class calculation():
  work = "maths prob"
  def __init__(self,a,b):
    self.a = a
    self.b = b
    
  def add(self,a,b):
    c= a+b
    return c

  def mul(self,a,b):
    c=a*b
    return c

  def div(self,a,b):
    c=a/b
    return float(c)

  def calcc(self):
     print(self.a + self.b )

In [ ]:
my_calc = calculation(3,5)

In [ ]:
calculation.add(1,2,3)

In [ ]:
my_calc.add(2,3)

In [ ]:
calculation.work

In [ ]:
my_calc.calcc()

In [ ]:
#calculator using basic python

first = input("Enter first number :")
operator = input("Enter operator :")
second = input("Enter second number :")

first = int(first)
second = int(second)

if operator == '+':
  print(first + second)
elif operator == '-':
  print(first - second)
elif operator == '*':
  print(first * second)
elif operator == '/':
  print(first / second)
else:
  print("invalid")

In [ ]:
#find the circle

class Circle():
  pi = 3.14
  
  #function
  def __init__(self,radius):
      self.radius = radius
      #two ways of calling pi.(1)pi attrirtube so calling via class name (2)self.pi(by creating instance)
      self.area = radius * radius * Circle.pi     
   
   #method
  def circumference(self):
      return 2*self.pi*radius

In [ ]:
my_circle = Circle(4)

In [ ]:
my_circle.circumference()

In [ ]:
my_circle.area

In [ ]:
#INHERITANCE IN OOPS
#Base class
class Animal():
  def __init__(self):
    print("Animal has been created")

  def who_am_i(self):     #method
    print("I am zebra")

  def eat(self):         #method
    print("I am eating ")

In [ ]:
myanimal= Animal()

In [ ]:
class Dog(Animal):     #derived class as it is inheriting the features of animal class 
  def __init__(self):
    Animal.__init__(self)     #creating an instance of animal class when i am creating an instance of dog class
    print("Dog created")

  def who_am_i(self):        #we can overwrite and object we want ..if not then we can also call from the previously created by using method name
    print("I am a dog")

In [ ]:
mydog = Dog()

In [ ]:
mydog.who_am_i()

In [ ]:
mydog.eat()

In [ ]:
def Fibonacci(n):
   
    # Check if input is 0 then it will
    # print incorrect input
    if n < 0:
        print("Incorrect input")
 
    # Check if n is 0
    # then it will return 0
    elif n == 0:
        return 0
 
    # Check if n is 1,2
    # it will return 1
    elif n == 1 or n == 2:
        return 1
 
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)
 
# Driver Program
print(Fibonacci(9))

In [ ]:
print([1,2,3])

In [ ]:
#display

def display(row1,row2,row3):
  print(row1)
  print(row2)
  print(row3)

In [ ]:
example1 = [0,0,0]
example2 = [' ' , 'x' , ' ']
example3 = [' ' , ' ' , 'x']

display(example1,example2,example3)

[0, 0, 0]
[' ', 'x', ' ']
[' ', ' ', 'x']

In [ ]:
example1[0] = '2'
display(example1,example2,example3)

['2', 0, 0]
[' ', 'x', ' ']
[' ', ' ', 'x']

In [ ]:
#validating user input

def user_choice():
  choice  = 'PARUL'     #PARUL IS NOT A DIGIT SO WHILE WILL RUN

  while choice.isdigit() == False:     #check if value/datatype is true or false
      choice = input("Enter a number from 0-10 : ")
 

  return int(choice)         #if casting is not done....ouput will be string

In [ ]:
user_choice()

Enter a number from 0-10 : 5

5

In [ ]:
#SHORT TRICK TO CHECK ID RESULT IS CORRECT
result = int(input('Enter value : '))
acceptable_value = [0,1,2,3]

result in acceptable_value

Enter value : 2

True

In [ ]:
def my_choice():
  choice  = 'PARUL' 
  acceptable = range(0,10)
  within_range = False
      
  while choice.isdigit() == False or within_range == False :     #check if value/datatype is true or false
      choice = input("Enter a number from 0-10 : ")

      if choice.isdigit() == False:
          print('Sorry that is not a digit')
         
      if choice.isdigit() == True:
            if int(choice) in acceptable:
               within_range = True
               print('you are going correct')
            else:
                within_range = False
         

  return int(choice)

In [ ]:
my_choice()

Enter a number from 0-10 : hgh
Sorry that is not a digit
Enter a number from 0-10 : 52
Enter a number from 0-10 : 5
yo are going correct

5

In [ ]:
#checking if the input is correct datatype

def check_user_input(input):
    try:
        # Convert it into integer
        val = int(input)
        print("Input is an integer number. Number = ", val)
    except ValueError:
        try:
            # Convert it into float
            val = float(input)
            print("Input is a float  number. Number = ", val)
        except ValueError:
            print("No.. input is not a number. It's a string")


input1 = input("Enter your Age ")
check_user_input(input1)

input2 = input("Enter any number ")
check_user_input(input2)

input2 = input("Enter the last number ")
check_user_input(input2)

Enter your Age 5
Input is an integer number. Number =  5

**MILESTONE PROJECT BASICS**

In [ ]:

game_list = [0,1,2]
def display_list(game_list):
  print("This is the list : ")
  print(game_list)


def position_choice():
  choice = 'Wrong'

  while choice not in ['0','1','2']:
     
      choice = input("Choose a number from (0,1,2) : ")
      if choice not in ['0','1','2']:
          print("Sorry, choice is invalid ")
      else:
          print("Your choice is : ")
        
 
  return int(choice)

def replacement_choice(game_list , position):
  user_placement = input("Enter a string to be placed at position : ")
  game_list[position] = user_placement

  return (game_list)

def gameon_choice():
   choice = 'Wrong'

   while choice not in ['Y' , 'N']:
     
      choice = input("keep playing ?  ('Y' , 'N') : ")
      if choice not in ['Y' , 'N']:
          print("Sorry, I dont understand .Choose either Y or N : ")
      if choice == 'Y':
        return True
         
      else:
          False

In [ ]:
position_choice()

Choose a number from (0,1,2) : 2
Your choice is :

2

In [ ]:
replacement_choice(game_list , 1)

Enter a string to be placed at position : 5

[0, '5', 2]

In [ ]:
gameon_choice()

keep playing ?  ('Y' , 'N') : hj
Sorry, I dont understand .Choose either Y or N :
Thank you for playing
keep playing ?  ('Y' , 'N') : Y

True

In [ ]:
game_on = True
game_list = [0,1,2]
while game_on:
   display_list(game_list)
   position = position_choice()
   game_list = replacement_choice(game_list , position)
   display_list(game_list)
   game_on = gameon_choice()

This is the list :
[0, 1, 2]
Choose a number from (0,1,2) : 1
Your choice is :
Enter a string to be placed at position : mystring
This is the list :
[0, 'mystring', 2]
keep playing ?  ('Y' , 'N') : Y
This is the list :
[0, 'mystring', 2]
Choose a number from (0,1,2) : 0
Your choice is :
Enter a string to be placed at position : this is
This is the list :
['this is', 'mystring', 2]
keep playing ?  ('Y' , 'N') : N

**TIC TAC TOE BOARD GAME**

In [ ]:
from IPython.display import clear_output
def display_board(board):
  clear_output()
  print(board[1]+'|'+board[2]+'|'+board[3])
  print(board[4]+'|'+board[5]+'|'+board[6])
  print(board[7]+'|'+board[8]+'|'+board[9])
  
my_board = ['#','1','2','3','4','5','6','7','8','9']
display_board(my_board)

1|2|3
4|5|6
7|8|9

In [ ]:
def display_board2(board):
  
  print(board[1]+'|'+board[2]+'|'+board[3])
  print(board[4]+'|'+board[5]+'|'+board[6])
  print(board[7]+'|'+board[8]+'|'+board[9])
  
my_board = [' ']*10
display_board2(my_board)

 | |
 | |
 | |

In [ ]:
def player_input():
  marker= ' '
  while marker not in ['X','O']:
      marker  = input('Player 1 Choose X  or O : ').upper()
      
      
      player_1 = marker
      if player_1 == 'X':
        player_2 = 'O'
      else:
        player_2 = 'X'
  return ("player_1 is : " +player_1 , "player_2 is : " + player_2)

In [ ]:
player_1_marker , player_2_marker = player_input()

Player 1 Choose X  or O : X

In [ ]:
player_2_marker

'player_2 is : O'

In [ ]:
player_input()

Player 1 Choose X  or O : X

('player_1 is : X', 'player_2 is : O')

In [ ]:
def place_marker(board , marker , position):
  board[position] = marker

In [ ]:
choose_position(my_board,' ', 9)
display_board(my_board)

 | |
 | |
 | |

In [ ]:

def win_check(board , mark):
   # check all rows and all columns' having same marker
   # check diagonals 

   return((board[1] == mark and board[2] == mark and board[3] == mark) or
   (board[4] == board[5] == board[6] == mark) or
   (board[7] == board[8] == board[9] == mark) or
   (board[1] == board[4] == board[7] == mark) or
   (board[2] == board[5] == board[8] == mark) or
   (board[3] == board[6] == board[9] == mark) or
   (board[1] == board[5] == board[9] == mark) or
   (board[3] == board[5] == board[7] == mark))

In [ ]:
display_board(my_board)
win_check(my_board , ' ')

1|2|3
4|5|6
7|8|9

False

In [ ]:
'''function that uses random module to randomly decide which player goes first.
 You want to lookup random.randint() Return a string which player went first.'''
import random
def choose_first():
   flip = random.randint(0,1)  #returns a random int from range
   if flip == 0:
     return 'Player 2'
   else:
     return 'Player 1'

In [ ]:
def space_check(board,position):
  return board[position] == ' '

In [ ]:
def full_board_check(board):
   for i in range(1,10):
     if space_check(board , i):
       return False
   return True

In [ ]:
def player_choice(board):
   
   position = 0
   while position not in [1,2,3,4,5,6,7,8,9] or not space_check(board,position):
     position = input("Choose a position from (1-9) : ")

   return int(position)

In [ ]:
def replay():
  choice = input("Play again? Enter Yes or No : ")

  return choice == 'Yes'

In [ ]:
print("Welcome to tic tac toe")

while True:
  the_board = [' ']*10
  player_1_marker,player_2_marker = player_input()
  turn = choose_first()
  print(turn + " will go first")
  
  play_game = input("Are you ready to play? Enter yes or no")
  game_on = True
  if play_game[0] == 'y':
      game_on == True
  else:
      game_on == False

  
  while game_on:
    #player1 turn
   if turn == 'Player 1':
      display_board(the_board)
      position = player_choice(the_board)

      place_marker(the_board,player_1_marker,position)
      
      if win_check(the_board , player_1_marker):
        display_board(the_board)
        print("Player 1 has won")
        game_on = False

      else:
                if full_board_check(the_board):
                    display_board(the_board)
                    print('The game is a draw!')
                    break
                else:
                    turn = 'Player 2'

        else:
            # Player2's turn.
            
            display_board(the_board)
            position = player_choice(the_board)
            place_marker(the_board, player_2_marker, position)

            if win_check(the_board, player_2_marker):
                display_board(the_board)
                print('Player 2 has won!')
                game_on = False
            else:
                if full_board_check(the_board):
                    display_board(the_board)
                    print('The game is a draw!')
                    break
                else:
                    turn = 'Player 1'

    if not replay():
        break

 | |
 | |
 | |

**reverse intezer**

In [ ]:
#reverse a number
n = int(input("Enter a number : "))
sum = 0

  
while (n != 0) :
      rem = n % 10
      sum = (sum * 10) + rem
      n = n // 10

print("The reverse number is : {}".format(sum))

Enter a number : 232
The reverse number is : 232

**armstrong number**

In [ ]:
n = int(input("Enter a number : "))
armstrong_sum = 0    #initailaise sum to zero
#store the value of n into somme temporary variable so that if n becomes zero input value is stored somewhere
temp = n  

#count the len of input by concatenating into string
order = len(str(temp))
while (temp > 0):
  rem = temp % 10
  armstrong_sum = armstrong_sum  + rem**order

  temp = temp // 10

if (armstrong_sum == n) :
  print("It's an armstrong number")
else:
   print("It's not an armstrong number")

Enter a number : 1634
It's an armstrong number

In [ ]:
n=5

for i in range(n):   #rows
   for j in range(n):    #columns
       print(" *",end=' ')      #if end='' is removed then all the columns will print in first column only
   print()   #change rows after exceuting column j for n times

 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *
 *  *  *  *  *

**tRIANGLE**

In [ ]:
n=5

for i in range(n):   #rows
   for j in range(i+1):    #columns
       print(" *",end=' ')      #if end='' is removed then all the columns will print in first column only
   print()   #change rows after exceuting column j for n times

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [ ]:
#INVERTED TRIANGLE
n=5

for i in range(n):   #rows
   for j in range(i,n):    #columns  range from i to n 
       print(" *",end=' ')      #if end='' is removed then all the columns will print in first column only
   print()   #change rows after exceuting column j for n times

 *  *  *  *  *
 *  *  *  *
 *  *  *
 *  *
 *

In [ ]:
n=5

for i in range(n):   #rows
   for j in range(i,n):    #columns
       print(" ",end='')      #if end='' is removed then all the columns will print in first column only

   for j in range(i+1):
       print("*",end='')
   print()   #change rows after exceuting column j for n times

     *
    **
   ***
  ****
 *****

In [ ]:
n=5

for i in range(n):
   for j in range(i+1):
       print(" ",end='')
   for j in range(i,n):
       print("*",end='')

   print()

 *****
  ****
   ***
    **
     *

In [ ]:
n=5

for i in range(n):
   for j in range(i,n):
       print(" ",end='')
   
   for j in range(i+1):
       print("* ",end='')

   print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [ ]:
n=5

for i in range(n):
   for j in range(i,n):
       print(" ",end=' ')
   for j in range(i):
       print("*",end=' ')
   for j in range(i+1):
       print("*",end=' ')

   print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
n=5

for i in range(n):
   for j in range(i+1):
       print(" ",end=' ')
   for j in range(i,n-1):
       print("*",end=' ')
   for j in range(i,n):
       print("*",end=' ')

   print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
n=5

for i in range(n-1):
   for j in range(i,n):
       print(" ",end=' ')
   for j in range(i):
       print("*",end=' ')
   for j in range(i+1):
       print("*",end=' ')

   print()

for i in range(n):
   for j in range(i+1):
       print(" ",end=' ')
   for j in range(i,n-1):
       print("*",end=' ')
   for j in range(i,n):
       print("*",end=' ')

   print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

**ERROR AND EXCEPTION HANDELING**

In [ ]:
#try and except method
n= 10 
n1 = 20
try :
    result = n+ 'n1'
except:
     print("Something went wrong")
else:
  print("add done well")
  print(result)

Something went wrong

In [ ]:
try:
  f = open('testfile','w') #opens a file and allows to write else create a file
  f.write("Write a test line")
except TypeError:
   print("there was a type error")
except OSError:
  print("you have an OS error")
finally:
  print("i always run")

i always run

In [ ]:
def learn_try_except():
   while True:
      try:
        result = int(input("Enter number : "))
      except:
         print("Woops.That is not a number")
         continue    #if try cond not true print and continue to ask again input
      else:
         print("Yes,thanku")
         break  #if try condn true then except will not execute and come to else and break
      finally:
         print("End try/except/finally")

In [ ]:
learn_try_except()

Enter number : kj
Woops.That is not a number
End try/except/finally
Enter number : 5
Yes,thanku
End try/except/finally

In [ ]:
#examples practice
try:
      for i in ['a','b','c']:
          print(i**2)
except:
      print("Something went wrong")

Something went wrong

In [ ]:
try:
   x = 5
   y = 0
   z = x/y
except:
   print("ZeroDivison Error will occur")
finally:
  print("it matters ")

ZeroDivison Error will occur
it matters

In [ ]:
#Write a function that asks for an integer and prints the square of it. Use a while loop with a try, except, else block to account for incorrect inputs.

def ask():
   while True:
       try:
           result = int(input("Enter number : "))
       except:
          print("You are entering wrong input! \n")
          continue
       else:
         res = result**2
         print("Your squared number is : ")
         print(res)
         break
       finally:
          print("well done")

In [ ]:
ask()

Enter number : k
You are entering wrong input!

well done
Enter number : 2
Your squared number is :
4
well done

In [ ]:
def cap_text(text):
  return text.capitalize()

In [ ]:

cap_text('yashi')

'Yashi'